extends layout

block content
  .row.banner
    .col-12
      h1(style="margin-top:100px")= title
      
  .row
    .col-12.col-lg-8
      p
        | Bringing people together, creating memories forever
        | <br /><br />
        | The primary goal of an Event Management System is to simplify the event planning process, reduce administrative burdens, enhance user experience, and improve overall event success. By utilizing such a system, organizations can focus more on the creative and strategic aspects of event planning while ensuring logistical efficiency.
